h1 {
    color: #fefefe;
}

#main {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root {
    background: #2e2e2e;
}

a {
    color: #fefefe;
    text-decoration: none;
}

html {
    font-family: 'Flow Circular';
}