* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;  
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background: url("./nav.png");
  background-repeat: no-repeat;
  background-size: center;
  min-height: 11rem;
  background-color: lawngreen;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-align: center;
  text-decoration: none;
  color:black;
  background-color: lightgoldenrodyellow;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: goldenrod;
}

main {
  height: 80vh;
  padding: 0.5rem;
  background: url('./IMG_1850.jpeg');
  background-size: cover;
  background-position-x: center;
  background-position-y:center;
  background-repeat: no-repeat;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
